*,
html{
box-sizing: border-box;
font-size:10px;
}

body{
	background-color:#FFF;
}

img{
	max-width: 100%;
	vertical-align: bottom;
}

/* header.php */

header h1{
	text-align: center;
}

header h1 img{
	max-width: 350px;
}

/* front-page.php */
.main{
	margin: 0 auto;
	/* border:1px solid red; */
	width: 95%;
}

.item{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* template-parts/loop-post.php */
.box{
	width: 19.5%;
	border:1px solid #CCC;
	padding: 1rem;
	margin-bottom: 1rem;
}

@media screen and (max-width:1000px) {

	.box{
		width: 32.5%;
	}
	
}

@media screen and (max-width:500px) {

	.box{
		width: 100%;
	}
	
}

.box:hover{
	cursor: pointer;
}

.content_thumb img{
width: 100%;
}

.content_title{
	font-size:150%;
	padding: 0.5rem 0;
}

.content_catlist{
	display: flex;
	padding-bottom: 0.3rem;
}

.content_catlist li{
	display: inline-block;
}
